<head>
  <title>TinyApp</title>
  <a href= 'http://localhost:8080/urls'>List</a>
  <a href= 'http://localhost:8080/urls/new'>New</a>
  <form action="/login" method="POST" style="margin:150px;">
    <label for="username">Login</label>
    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
    <input type="submit" value="Login">
  </form>
</head>