<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header.ejs %>
<body>
    <!-- Add your EJS code here -->
    <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:150px;">
      <%= shortURL %>
      <input id="longURL" type="text" name="longURL" value="<%= urls[shortURL]['url'] %>"  style="width: 300px">
      <input type="submit" value="Update">
    </form>
</body>
</html>