<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header.ejs %>
<body>
    <!-- Add your EJS code here -->
<!--   <%- JSON.stringify(urls) %> -->
  <table>
    <tr>
      <td>ID</td>
      <td>URL</td>
  <% for (var key in urls) { %>
    <tr>
     <td><%= key %></td>
     <td><a href=urls[key]><%= urls[key] %></a></td>
    </tr>
  <% } %>
  </table>
</body>
</html>