<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header.ejs %>
<body>
    <!-- Add your EJS code here -->
  <table>
    <tr>
      <td>ID</td>
      <td>URL</td>
    <tr>
     <td><%= shortURL %></td>
     <td><a href=urls[shortURL]><%= urls[shortURL] %></a></td>
    </tr>
  </table>
</body>
</html>